.App {
  align-content: center;
  text-align: center;
  align-items: center;
}

* {
  text-align: center;
}

footer {
  background-color: #3465E0;
}

form {
  background-color: #3465E0;
  display: inline-block;
  margin-left: 25%;
  margin-right: 25%;
  width:50%
}


.flex-container{
  display:flex;
  justify-content: center;
  background-color: white;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: border-box;
}

input[type=submit] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: border-box;
  cursor: pointer;
}

input [type=submit]:hover{
  background-color: #3465E0;
}

#content-wrap {
  padding-bottom: 2.0rem;
  padding-top: 2.5rem;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1.5rem;
  color: white;
}

.logo {
  background-color: white;
  color: black;
  text-align: center;
  width: 20%;
  height: 50%;
  margin: 0px auto;
  border-radius: 80%;
}
#logo-area{
  background-color: #3465E0;
}

#login{
  display: block;
  text-align: center
}

body {
  text-align: center;
}

.header {
  padding: 40px;
  text-align: center;
  background: #3465E0;
  color: white;
  font-size: 30px;

}

.space {
  padding: 40px
}

.label{
  color: white
}

.create {
  padding: 40px;
}

